.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: #ffffff;
  background-color: #333333;
}

// .goBack {
//   width: 120px;
// }

.toolbar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-right: 120px;
}

.toolButton {
  margin: 0 20px;
  opacity: 0.7;
  font-size: 16px;
  &:hover {
    opacity: 1;
  }
}
